@using System.Security.Principal

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewData["Title"] - TODO</title>
</head>

<body>
	<div class="container">
		<div class="float-right">
			@if (!User.Identity.IsAuthenticated) {
				<a asp-controller="Auth" asp-action="Register">Register</a>
				<a asp-controller="Auth" asp-action="Login">Login</a>
			} else {
				<span>Hi <b>@User.Identity.Name</b></span>
				<form method="POST" asp-controller="Auth" asp-action="Logout" style="display: inline;">
					<button type="submit" class="btn btn-xs btn-link">
						<i class="fa fa-sign-out"></i>
						Logout
					</button>
				</form>
			}
		</div>
		<h1>TODO - @ViewData["Title"]</h1>
		<hr />
		@RenderBody()
	</div>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</body>

</html>