@{
	Layout = "_Layout";
	ViewData["Title"] = "Index";
}
@using todo.Models
@model IEnumerable<Todo>

<form method="POST" asp-controller="Home" asp-action="AddNote" class="form form-inline">
	@Html.AntiForgeryToken()
	<input name="value" type="text" class="form-control">
	<input type="submit" value="Add note" class="btn btn-primary" />
</form>

<hr />

@foreach (var todo in Model) {
	<div class="alert alert-info">
		<div class="pull-right">
			<form method="POST" action="@Url.RouteUrl("RemoveTodo", new { id = todo.ID })" class="form form-inline">
				@Html.AntiForgeryToken()
				<input type="submit" value="delete" class="btn btn-sm btn-danger" />
			</form>
		</div>
		@todo.value
		<div class="clearfix"></div>
	</div>
}