@{
	Layout = "_Layout";
	ViewData["Title"] = "Index";
}
@model todo.ViewModels.IndexViewModel

<form method="POST" asp-controller="Home" asp-action="Index" class="form form-inline">
	<label asp-for="NewTodo">
		<input asp-for="NewTodo" class="form-control" autofocus />
	</label>
	<input type="submit" value="Add note" class="btn btn-primary" /><br />
	<span asp-validation-for="NewTodo" class="text-danger"></span>
</form>

<hr />

@foreach (var todo in Model.ExistingTodos) {
	<div class="alert alert-info">
		<div class="pull-right">
			<form method="POST" asp-controller="Home" asp-action="RemoveNote" asp-route-id="@todo.ID" class="form form-inline">
				<button type="submit" class="btn btn-sm btn-danger">
					<i class="glyphicon glyphicon-trash"></i>
				</button>
			</form>
		</div>
		@todo.value
		<div class="clearfix"></div>
	</div>
}